.dashboard {
    display: flex;
    flex-direction: row;
    background-color: #f7f7f7;
    height: 100vh;
}

.dashboard__menu {
    width: 200px;
    height: 100vh;
}

@media (max-width: 768px) {
    .dashboard__menu {
        width: 80px;
    }
}

@media (max-width: 480px) {
    .dashboard {
        flex-direction: column;
    }

    .dashboard__menu {
        height: 50px;
        width: 100vw;
    }
}

.dashboard__window .dashboard__window-titulo {
    font-size: larger;
    font-weight: bold;
    text-align: left;
}

.dashboard__window .dashboard__window-titulo h1 {
    
}

@media (max-width: 480px) {
    .dashboard__window .dashboard__window-titulo h1 {
        text-align: center;
    }
}

.dashboard__window .dashboard__window-mensaje {
    text-align: left;
}

.dashboard__window .dashboard__window-mensaje .titulo {
    font-size: 26px;
    font-weight: 500;
}

.dashboard__window .dashboard__window-mensaje .descripcion {
    font-size: 22px;
    font-weight: 300;
}