.dashboard {
    display: grid;
    grid-template-columns: 200px auto;
    background-color: #f7f7f7;
    min-height: 150vh;
}

.dashboard__menu {
    min-height: 150vh;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.dashboard__window {
    grid-column: 2 / 3;
    padding-left: 30px;
    padding-top: 50px;
}

.dashboard__window .dashboard__window-titulo {
    font-size: larger;
    font-weight: bold;
    text-align: left;
}

.dashboard__window .dashboard__window-titulo h1 {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 800;
}

.dashboard__window .dashboard__window-mensaje {
    text-align: left;
}

.dashboard__window .dashboard__window-mensaje .titulo {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0px;
}

.dashboard__window .dashboard__window-mensaje .area_descripcion {
    display: flex;
    flex-direction: row;
}

.dashboard__window .dashboard__window-mensaje .area_descripcion .descripcion {
    font-size: 22px;
    font-weight: 300;
}

.dashboard__window .dashboard__window-mensaje .area_descripcion a button {
    border-radius: 15px;
    margin: 5px;
    background-color: #0B2352;
}

.dashboard__window .dashboard__window-mensaje .area_descripcion a button:hover {
    background-color: #A7C9D3;
    color: black;
    transition: all 0.2s ease-in-out;
}